<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
    <link rel="stylesheet" href="about.css">
</head>
<body>

    <nav>

        <p class="nav-item"><a href="/dashboard">Dashboard</a></p>
  
        <p class="nav-item"><a href="/whyTravel">Why Travel?</a></p>
  
        <p class="nav-item"><a href="/advisor">Advisor</a></p>
  
        <p class="nav-item"><a href="/share">Share</a></p>
  
        <p class="nav-item"><a href="/Calculator">Calculator</a></p>
  
          <p class="nav-item"><a href="/contact">Contact</a></p>
    
        </nav>

    <p class="text">in "Travel IQ" you can share your awesome experience with the option to upload photos from your social media accounts and share those Unforgettable memories with others, also there's some side application like calculation app and advisor page where you can discover places.
        </p>

       <p class="copy">the website was designed by "Ahmed Alsalihi" as a unit 2 project at General Assembly.

       </p>
</body>
</html>