<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
    <link rel="stylesheet" href="about.css">
</head>
<body>

    <nav>

        <p class="nav-item"><a href="/dashboard">Dashboard</a></p>
  
        <p class="nav-item"><a href="/whyTravel">Why Travel?</a></p>
  
        <p class="nav-item"><a href="/advisor">Advisor</a></p>
  
        <p class="nav-item"><a href="/share">Share</a></p>
  
        <p class="nav-item"><a href="/Calculator">Calculator</a></p>
  
          <p class="nav-item"><a href="/contact">Contact</a></p>
    
        </nav>

    <p class="text">"Travel IQ" it's a simple website whe
    re you can do multiple activities such as is sharing your adventures with others, the website hosts a page where you can add your name and the place you have been to and also description or comment describing how you felt about the trip also you can add images to let the whole world see how awesome the places you have been to.
        also the website has a section for a simple calculator where you can calculate how much you spent on the those unforgettable trips.
        </p>

       <p class="copy">the website was designed by "Ahmed Alsalihi" as a simple project for General Assembly cohort

       </p>
</body>
</html>