<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="advisor.css">
    <title>Advisor</title>
  </head>
  <body>
   
    <nav>

      <p class="nav-item"><a href="/dashboard">Dashboard</a></p>

      <p class="nav-item"><a href="/whyTravel">Why Travel?</a></p>

      <p class="nav-item"><a href="/share">Share</a></p>

      <p class="nav-item"><a href="/Calculator">Calculator</a></p>

        <p class="nav-item"><a href="/contact">Contact</a></p>
  
        <p class="nav-item"><a href="/about">About</a></p>
  
      </nav>

    <br>


    <ul>
      <% for (var i = 0; i < cities.length; i++) { %>
        <li>
          <div class="city-box">
          <p class="city-name"> <%= cities[i].name %></p>
          <img class="city-image" src="<%= cities[i].img %>" alt="<%= cities[i].name %>">
          <p class="city-description" ><%= cities[i].description %></p>
        </li>
      <% } %>
    </ul>
    

  </body>


</html>