<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="contact.css">
</head>
<body>
    
    <nav>

        <p class="nav-item"><a href="/dashboard">Dashboard</a></p>
        <p class="nav-item"><a href="/whyTravel">Why Travel?</a></p>
        <p class="nav-item"><a href="/advisor">Advisor</a></p>
        <p class="nav-item"><a href="/share">Share</a></p>
        <p class="nav-item"><a href="/Calculator">Calculator</a></p>
          <p class="nav-item"><a href="/about">About</a></p>
    
        </nav>

        <h1>please contact me if you have any issue with the website or if you have any suggestion it's highly appreciated ! </h1>
    <div class="container">
        <h1>Contact Me</h1>
        <div class="contact-info">
            <p>Email: Ahmed.salihi9610@gmail.com</p>
            <p>profile: <a href="https://www.linkedin.com/in/ahmed-swe/">Linkedin</a></p>
            <img src="https://media.tenor.com/toH1tzsqXDkAAAAC/mashiho-mashmellow.gif" alt="cute thank you !">
        </div>
    </div>
</body>
</html>
