<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>

    <link rel="stylesheet" href="style.css">

</head>
<body>
    
    <nav>
      <p class="nav-item"><a href="/dashboard">Dashboard</a></p>
      
        <p class="nav-item"><a href="/whyTravel">Why Travel?</a></p>
  
        <p class="nav-item"><a href="/advisor">Advisor</a></p>
  
        <p class="nav-item"><a href="/share">Share</a></p>
  
        <p class="nav-item"><a href="/contact">Contact</a></p>
  
        <p class="nav-item"><a href="/about">About</a></p>
  
      </nav>

      <div class="logo-container">
        <div class="logo">
          <span class="logo-text">Travel</span>
          <span class="logo-accent">IQ</span>
        </div>
      </div>
      
      
    <div class="container">
        <div class="description"> 
            <span>"Life is short and the world is wide." - Simon Raven</span>
        </div>
    </div>

</body>
</html>