<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>

    <link rel="stylesheet" href="style.css">

</head>
<body>

    <div class="container">
        <div class="title">Travel IQ</div> 
        <div class="description"> 
            <span>because the sky does not have a limit so you are</span>
        </div>
    </div>

    <p class="contact"><a class="contactt" href="/contact">contact me</a></p>

    <p class="about"><a class="aboutt" href="/about">about</a></p>

    <p class="Advisor"><a class="Advisorr" href="/advisor">TripAdvisor</a></p>

    <p class="share"><a class="sharee" href="/share">share</a></p>

    <p class="why"><a class="whyy" href="/whyTravel">why Travel ?</a></p>

</body>
</html>