<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>share</title>
    <link rel="stylesheet" href="share.css">
</head>
<body>

    <nav>

        <p class="nav-item"><a href="/dashboard">Dashboard</a></p>
  
        <p class="nav-item"><a href="/whyTravel">Why Travel?</a></p>
  
        <p class="nav-item"><a href="/advisor">Advisor</a></p>
  
        <p class="nav-item"><a href="/Calculator">Calculator</a></p>
  
          <p class="nav-item"><a href="/contact">Contact</a></p>
    
          <p class="nav-item"><a href="/about">About</a></p>

          <p class="nav-item"><a href="/history">history</a></p>
    
        </nav>

    <p class="title">Today is <%= dayTIme %> !</p>

    <ul>
      <form action="/history" method="post">
        <label class="lab" for="name">Name:</label>
        <li><input class="inp" type="text" id="name" name="name" placeholder="Text only" required>
        </li>
        <label class="lab"  for="place">Place:</label>
      <li><input class="inp"  type="text" id="place" name="place" placeholder="Text only" required>
      </li>
        <label class="lab"  for="year">Date:</label>
      <li><input class="inp" input type="number" id="year" name="year" placeholder="Numbers only" required>
      </li>
        <label class="lab"  for="img">Image URL:</label>
      <li><input class="inp"  type="text" id="img" name="img" placeholder="URL only" required>
      </li> 
        <label class="lab" for="description">Description/comments:</label>
      <li><input class="inp" type="text" id="description" name="description" placeholder="Text only" required></li>
      
        <button class="sub" type="submit">Post</button>
      </form>
      </ul>
      
    

</body>
</html>