<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>why you should travel</title>
    <link rel="stylesheet" href="whytravel.css">
</head>
<body>
    <nav>
        <p class="nav-item"><a href="/dashboard">Dashboard</a></p>
  
        <p class="nav-item"><a href="/advisor">Advisor</a></p>
  
        <p class="nav-item"><a href="/share">Share</a></p>
  
        <p class="nav-item"><a href="/contact">Contact</a></p>
  
        <p class="nav-item"><a href="/about">About</a></p>
  
      </nav>

    <div class="container">
        <h1>5 Reasons Why Travel Is Important</h1>
        <ul>
            <li>To broaden horizons: Travel allows you to experience different cultures, customs, and ways of life that can broaden your perspective and help you see the world in a new way.</li>
            <li>To learn and grow: Traveling exposes you to new ideas, experiences, and challenges that can help you learn and grow as a person.</li>
            <li>To break out of routine: Traveling allows you to break out of your daily routine and experience new things, which can be refreshing and energizing.</li>
            <li>To create memories: Traveling can create lifelong memories and experiences that you can cherish and share with others.</li>
            <li>To reduce stress: Taking a break from the stresses of everyday life and exploring new places can help to reduce stress and improve overall well-being.</li>
            
          </ul>
        </div>
</body>
</html>