body {
    background-image: url(https://images.unsplash.com/photo-1618083707368-b3823daa2726?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTh8fGFkdmVudHVyZXxlbnwwfHwwfHw%3D&w=1000&q=80);
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    text-align: center;
    font-size: 30px;
    color: rgb(0, 0, 0);
}

.description {
    display: inline-block;
    overflow: hidden;
    margin-top: 100px;
     color: #fff;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
}

.description span {
    margin-left: -355px;
    animation: slidein 12s infinite;
}


.description {
  display: inline-block;
  overflow: hidden;
  margin-top: 100px;
   color: #fff;
text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
}

@keyframes slidein {
    0% { margin-left: -800px; }
    20% { margin-left: -800px; }
    40% { margin-left: 0px; }
    100% { margin-left: 0px; }
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    height: 50px;
    padding: 0 20px;
  }
  
  .nav-item {
    margin: 0;
  }
  
  .nav-item a {
    color: white;
    text-decoration: none;
    padding: 10px;
  }
  
  .nav-item a:hover {
    background-color: #555;
  }
  

  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
  
  }
  
  .logo {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .logo-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: bold;
    color: #8d13ff;
    letter-spacing: 2px;
    text-shadow: 1px 1px 0px #2c3e50;
  }
  
  .logo-accent {
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    font-weight: bold;
    color: #f1c40f;
    text-shadow: 1px 1px 0px #e67e22;
    margin-left: 10px;
    transform: translateY(-10%);
    animation: pulse 2s ease-in-out infinite;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  